:root {

    /* ==========================================
       COLORS
    ========================================== */

    --primary-color: #2563EB;
    --primary-dark: #1E40AF;

    --background: #E9F0F7;
    --surface: #FFFFFF;

    --text: #0F172A;
    --text-light: #64748B;

    --border: #D8E2EE;

    /* ==========================================
       TYPOGRAPHY
    ========================================== */

    --font-family: "Inter", sans-serif;

    /* ==========================================
       LAYOUT
    ========================================== */

    --max-width: 1200px;

    --section-padding: 125px;

    /* ==========================================
       SPACING
    ========================================== */

    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 40px;
    --spacing-xl: 64px;
    --spacing-2xl: 96px;
    --spacing-3xl: 128px;

    /* ==========================================
       BORDER RADIUS
    ========================================== */

    --border-radius: 16px;

    /* ==========================================
       SHADOWS
    ========================================== */

    --shadow-sm: 0 4px 12px rgba(15, 23, 42, .05);

    --shadow:

        0 12px 35px rgba(15, 23, 42, .08);

    --shadow-lg:

        0 24px 60px rgba(15, 23, 42, .12);

    /* ==========================================
       TRANSITIONS
    ========================================== */

    --transition: all .25s ease;


}